@import url(../fontawesome/css/all.css);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Main*/
/*----------------------------------------------------*/

.wrapper{
	display:flex;
	flex-direction: column;
	background-color: #f2f2f2;
}

section{
	background-color: chocolate;
	background-size: cover;
	background-position: center;
	border-radius: 3em;
	margin: 0.5em 0.5em 1em 0.5em;
}

@media only screen and (max-width: 600px){
	section{
		background-color: chocolate;
		background-size: cover;
		background-position: center;
		border-radius: 3em;
		margin: 5px 5px 10px 5px;
	}
}

a{
	color: #f2f2f2;
}

a:hover{
    color: #f0f0f093;
  }

#headSection{
    width: 99vw;
    height: 99vh;
    background-image: url(../css/picscss/headbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media only screen and (max-width: 600px){
	#headSection{
		width: 99vw;
		height: 85vh;
		background-image: url(../css/picscss/headbackground.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	  }
  }

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2em ;
}

@media only screen and (max-width: 600px){
	header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 20px ;
	}
}

.leftcontainer{
	display: flex;
	flex-direction: column;
	gap: 1em;
}
#Logo{
	width: 125px;
	height: auto;
}

.icons{
	display: flex;
	flex-direction: column;
	gap: 1em;
	color:#f2f2f2;
	margin: 0em 0em 0em 2em;
	font-size: 25px;
}

@media only screen and (max-width: 600px){
	.leftcontainer{
		display: flex;
		flex-direction: row;
		gap: 5px;
	}
	#Logo{
		width: 75px;
		height: auto;
	}
	
	.icons{
		display: none;
	}

	.sicons{
		display: flex;
		flex-direction: row;
		gap: 3px;
		color:#f2f2f2;
		font-size: 15px;
	}
}

.navigater, .navigater2{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    color:#f2f2f2;
    /*background-color: rgb(36, 54, 81);*/
    border-radius: 1em;
    padding-left: 0em;
    padding-right: 1em;
    margin-top: 0em;
}

 @media only screen and (max-width: 600px){
	
	.navigater{
		border-radius: 10px;
		padding-right: 20px;
		margin-top: 0;
		right: 1;
	}
 }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav li{
    height: 50px;
  }

  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
  }

  @media only screen and (max-width: 600px){
	nav a{
		height: 100%;
		padding: 0 15px;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: rgb(255, 255, 255);
	  }
  }

  nav a:hover{
    background-color: #f0f0f093;
  }
  
  #sidebar{
    position:fixed;
    top: 0em; 
    right: 0;
    height: 100vh;
    width: 85vw;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display:none;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

 

  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }

  .menu-button{
    display: none;
  }

  @media only screen and (max-width: 600px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display:flex;
	  margin: 10px 0px 0px 190px;
    }
  }

.registercfa{
	font-size: 25px;
	background-color:#000000;
	padding: 1em;
	border: #d4af36 solid 2px;
	border-radius: 40px;
}

@media only screen and (max-width: 600px){
    .registercfa{ 
		display: none;
	}
  }


#servicesSection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #d4af36;
	background-size: cover;
	background-position: center;
	padding: 2em;
}

.services_container{
	display: flex;
	flex-direction: row;
	gap: 3em;
	justify-content: space-between;
	margin-top: 2em;
}

.service{
	background-color: #f2f2f2;
	border-radius: 1em;
	padding: 1em;
	font-size: 20px;
}

@media only screen and (max-width: 600px){
    #servicesSection{
		padding: 15px;
	}

	.services_container{
		flex-direction: column;
		gap: 15px;
		margin-top: 5px;
	}

  }

.image{
	width: 300px;
	height: auto;
	mask-image: url("../css/shaps/bitmap.png");
	mask-size: 300px 300px;
	mask-repeat: no-repeat;
	mask-position: top;
}

#postsSection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
	background-color: #243651ff;
	background-size: cover;
	background-position: center;
	padding: 2em;
}

.post{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3em;
	background-color:#f2f2f2;
	border-radius: 1em;
	padding: 1em;
	font-size: 20px;
}

@media only screen and (max-width: 600px){
	.image{
		width: 100px;
		mask-size: 100px 100px;
	}
	
	#postsSection{
		gap: 10px;
		padding: 15px;
	}
	
	.post{
		gap: 15px;
		font-size: 20px;
	}
  }

#footerSection{
	display: flex;
	flex-direction: column;
	background-color: #000000;
	padding: 2em;
}

.upperfooter{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: #f2f2f2;
	border-bottom: #f2f2f2 solid 3px;
	padding-bottom: 1em;
}

.contacts{
	display: flex;
	flex-direction: column;
	gap: 3em;
	font-size: 20px;
}

.ficons{
	display: flex;
	gap: 3em;
	margin-top: 1em;
}

form{
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 400px;
	gap: 1em;
	font-size: 20px;
}

input{
	font-size: 20px;
}

::placeholder{
	font-size: 15px;
}

.copyright{
	display: flex;
	justify-content: center;
	color: #f2f2f2;
	margin-top: 3em;
	font-size: 20px;
}

@media only screen and (max-width: 600px){
	#footerSection{
		padding: 25px;
	}
	
	.upperfooter{
		flex-direction: column;
		justify-content: space-evenly;
		gap: 20px;
		padding-bottom: 10px;
	}
	
	.contacts{
		display: flex;
		flex-direction: column;
		gap: 15px;
		font-size: 15px;
	}
	
	.ficons{
		display: flex;
		gap: 15px;
		margin-top: 15px;
	}
	
	form{
		width: 200px;
		height: 300px;
		gap: 10px;
		font-size: 20px;
	}
	
	.copyright{
		margin-top: 20px;
		font-size: 15px;
	}
  }