@import url(../fontawesome/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Playwrite+AU+TAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------*/


/*Main*/
/*----------------------------------------------------*/

.wrapper{
	display:flex;
	flex-direction: column;
	background-color: #ffffff;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x:hidden;
}

section{
	background-color: rgb(175, 159, 148);
	background-size: cover;
	background-position: center;
	border-radius: 1em;
	margin: 0.5em 0.5em 1em 0.5em;
}

@media only screen and (max-width: 600px){
	section{
		background-size: cover;
		background-position: center;
		border-radius: 5px;
		margin: 5px 5px 10px 5px;
	}
}

h1,h2,h3,h4{
	font-family: "Yantramanav", sans-serif;
}

p{
	font-family: "Yantramanav", sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-top: 1em;
}

a{
	color: #f2f2f2;
	text-decoration: none;
	font-family: "Yantramanav", sans-serif;
	font-weight: 500;
}

a:hover{
    color: #f0f0f093;
  }

#headSection{
    width: 99vw;
    height: 99vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 10em;
    background-image: url(../css/picscss/headbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media only screen and (max-width: 600px){
	#headSection{
		width: 98vw;
		height: 85vh;
	  }
  }

#stic{
	position: fixed;
	top:0;
	z-index: 999;
	width: 100%;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	margin: 2em ;
}

@media only screen and (min-width: 600px){
	header{
		gap: 25em ;
	}
}

@media only screen and (max-width: 600px){
	header{
		margin: 20px ;
	}
}

.leftcontainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}
#Logo{
	width: 125px;
	height: auto;
	border-radius: 10px;
}



.icons{
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin: 0em 0em 0em 0em;
	font-size: 25px;
}

.icons a{
	box-shadow: -3px 0 3px rgba(0, 0, 0, 0.521);
	background-color: rgba(0, 0, 0, 0.445);
	background-position: center;
	padding: 3px;
	border-radius: 18px;
	
}

.translation{
    display: flex;
    gap: 1em;
    font-size: 20px;
    padding: 1px 2px;
    margin: 5px 30px;
    
}

.translation a{
    color: #ffffff;
}

.translation a :hover{
    color: rgb(22, 128, 128);

}

@media only screen and (max-width: 600px){
	.leftcontainer{
		gap: 5px;
	}
	#Logo{
		width: 75px;
		box-shadow: -3px 0 3px rgba(0, 0, 0, 0.521);
	}
	
	.icons{
		margin: 0em 0em 0em 0px;
		font-size: 16px;
		gap:5px;
		align-items: center;
	}

	.icons a{
		box-shadow: -3px 0 3px rgba(0, 0, 0, 0.521);
		background-color: rgba(0, 0, 0, 0.445);
		background-position: center;
		border-radius: 16px;
		padding: 5px;
	}

	.sicons{
		display: flex;
		flex-direction: row;
		gap: 3px;
		color:#f2f2f2;
		font-size: 15px;
	}

	.translation{
		gap: 0.7em;
		font-size: 18px;
		margin: 5px 8px;
		
	}
}

.navigater, .navigater2{
	font-size: 20px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    color:#f2f2f2;
    /*background-color: rgb(36, 54, 81);*/
    border-radius: 1em;
    padding-left: 0em;
    padding-right: 1em;
    margin-top: 0em;
}

.navigater2{
	background-color: #0000008f;
}

 @media only screen and (max-width: 600px){
	
	.navigater{
		border-radius: 5px;
		padding-right: 20px;
		margin-top: 0;
		right: 1;
	}
	.navigater2{
		background-color: transparent;
	}
 }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav li{
    height: 50px;
  }

  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
  }

  @media only screen and (max-width: 600px){
	nav a{
		height: 100%;
		padding: 0 15px;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: rgb(255, 255, 255);
	  }
  }

  nav a:hover{
    background-color: #f0f0f093;
  }
  
  #sidebar{
    position:fixed;
    top: 0em; 
    right: 0;
    height: 100vh;
    width: 85vw;
    background-color: rgba(36, 54, 81, 0.308);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display:none;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }

  #sidebar a{
	font-size: 18px;
    width: 100%;
  }

 

  .sidebar li{
    width: 100%;
  }

  .menu-button{
    display: none;
  }

  @media only screen and (max-width: 600px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display:flex;
	  margin: 10px 0px 0px 200px;
	  background-color: #00000096;
	  border-radius: 3px;
	  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.473);
    }
  }

.registercfa{
	right: 0;
	font-size: 25px;
	font-weight: 600;
	background-color:#000000;
	box-shadow: -3px 0 3px rgba(0, 0, 0, 0.521);
	padding: 1em;
	border:#f2f2f2 solid 2px;
	border-radius: 40px;
}


.registercfa h3{
	color: #ecd380;
}

@media only screen and (max-width: 600px){
    .registercfa{ 
		display: none;
	}
  }


  .visitUs{
	display: flex;
	flex-direction: column;
	align-items: center;
	color:#f2f2f2;
	background-color: rgba(36, 54, 81, 0.911);
	background-position: center;
	width: 98%;
	align-self: center;
	padding: 1em;
	margin-bottom: 10em;
	
  }

  .visitUs h1{
	font-family:"Yantramanav", sans-serif;
	font-weight: 600;
	font-size: 60px;
}

.visitUs :first-child{
	font-size: 120px;
	font-family: "Yantramanav", sans-serif;
	font-weight: 800;
}

a.visitbutton{
	background-color: #f2f2f2;
	border-radius: 0.5em;
	padding: 0.5em 0.7em;
	margin: 1em 0em 0em;
}

  .visitbutton{
	color: #000000;
	font-family:"Yantramanav", sans-serif;
	font-weight:600;
	font-size: 50px;
  }

  .visitbutton:hover{
	color: #0000007c;
  }

.visitUs p{
	font-family:"Yantramanav", sans-serif;
	font-weight:300;
	font-size: 30px;
}

@media only screen and (max-width: 600px){
	.visitUs{
		width: 92%;
		padding: 1em;
		margin-bottom: 12em;
	  }
	
	  .visitUs h1{
		font-size: 20px;
	}
	
	.visitUs :first-child{
		font-size: 40px;
	}
	
	a.visitbutton{
		padding: 15px 20px;
		border-radius: 0.3em;
	}
	
	  .visitbutton{
		color: #000000;
		font-size: 30px;
	  }
	
	  .visitbutton:hover{
		color: #0000007c;
	  }
	
	.visitUs p{
		font-size: 16px;
	}
}

#welcome{
	font-family: 'Playwrite AU TAS';
	text-align: center;
	background-color: transparent;
	padding: 0em 10em;
}


#welcome p{
	color:#383B41;
	font-family: 'Playwrite AU TAS';
	font-size: 25px;
	line-height: 2em;
	letter-spacing: 1px;
	text-wrap: wrap;
	/*background-image: url(../css/picscss/3ce47cff-9aff-46c6-b8b7-ca16d115eb73.png)/*linear-gradient(rgb(12, 12, 12), rgb(26, 28, 29))*/ ;
	background-size: 2200px 600px;
	background-repeat: no-repeat;
	background-position: center;
    backdrop-filter: blur(6px);
    box-shadow: -1px 16px -2px rgba(0, 0, 0, 0.301);
	padding: 1.8em 0.8em;
	border-radius: 1em;
	border: #F4DBA8 solid 2px;
}

@media only screen and (max-width: 1200px){
#welcome p{
	border-radius: 5px;

}
}

@media only screen and (max-width: 600px){
	#welcome{
	padding: 0em 1em;
	}

#welcome p{
	font-size: 14px;
	font-weight: 300;
	background-size: cover;
	line-height: 1.7em;
	letter-spacing: 0.5px;
	margin: 3em 0em
	}
}


#servicesSection{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	padding: 2em 5em;
}

#servicesSection h1{
	font-weight: 600;
	font-size: 50px;
}

.services_container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1em;
	justify-content: space-between;
	margin-top: 1em;
	padding: 0%;

}

.services_container h2{
	font-weight: 400;
	font-size: 25px;
}

.service p{
	font-family: "Yantramanav", sans-serif;
	font-weight: 300;
	text-align: left;
}

.service{
	flex-basis: 0;
	flex: 1 1 0;
	background-color: #203149;
	/*background-image: url(../css/picscss/pic04.jpg);*/
	border-radius: 0.5em;
	padding: 10px;
	font-size: 20px;
	text-align: left;
}




.service p, .service h2{
	padding: 0em 1em;
	border-radius: 0.5em;
	color: #f2f2f2;
}

@media only screen and (max-width: 600px){
    #servicesSection{
		padding: 10px;
	}

	.services_container{
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 5px;
		background-color: #203149;
		border-radius: 5px;
	}

	#servicesSection h1{
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 16px;
		margin-left: 20px;
		color: #243651;
	}

	.services_container h2{
		font-weight: 400;
		font-size: 16px;
	}

	.service{
		width: min-content;
	}
	.service p{
		font-size: 12;
		max-width: 150px;
		min-width: 140px;
	}
  }


  

.image{
	width: 300px;
	height: auto;
	mask-position: top;
}

#postsSection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
	background-color: transparent;
	background-size: cover;
	background-position: center;
	padding: 2em;
}

.post{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3em;
	flex-basis: 0;
	flex: 1 1 0;
	background-color:#f2f2f2;
	border-radius: 1em;
	padding: 1em;
}

#post2{
	flex-direction: row-reverse;
}

.post h1{
	font-size: 30px;
}

.post p{
	font-size: 25px;
}

@media only screen and (max-width: 600px){
	.image{
		width: 110px;
		mask-size: 110px 110px;
	}
	
	#postsSection{
		gap: 10px;
		padding: 15px;
	}
	
	.post{
		gap: 15px;
		border-radius: 10px;
	}
	
	.post h1{
		font-size: 20px;
	}

	.post p{
		font-size: 16px;
	}
  }

#footerSection{
	display: flex;
	flex-direction: column;
	background-color: rgba(10, 10, 10, 0.918);
	padding: 2em;
}

.upperfooter{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: #f2f2f2;
	border-bottom: #f2f2f2 solid 1px;
	padding-bottom: 1em;
}

.contacts{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	gap: 3em;
}

.contacts h2{
	font-size: 15px;
}

.ficons{
	display: flex;
	font-size: 16px;
	gap: 3em;
	margin-top: 1em;
}

form{
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 400px;
	gap: 1em;
	font-size: 20px;
}

input{
	font-size: 20px;
}

::placeholder{
	font-size: 15px;
}

.copyright{
	display: flex;
	justify-content: center;
	gap: 0.5em;
	color: #ffffff;
	margin-top: 0.7em;
	font-size: 18px;
}

@media only screen and (max-width: 600px){
	#footerSection{
		padding: 25px;
		border-radius: 5px;
	}
	
	.upperfooter{
		gap: 20px;
		padding-bottom: 10px;
	}
	
	.contacts{
		display: flex;
		flex-direction: row;
		gap: 10px;
		font-size: 12px;
	}

	.fsocialmedia{
		align-self: self-end;
	}
	
	.ficons{
		display: flex;
		gap: 15px;
		margin-top: 15px;
		margin-left: 15px;
	}
	
	form{
		display: none;
		width: 200px;
		height: 170px;
		gap: 10px;
		font-size: 12px;
	}

	.translationfooter{
		display: none;
	}
	
	.copyright{
		margin-top: 10px;
		font-size: 10px;
	}
  }