@import url(../fontawesome/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Playwrite+AU+TAS:wght@100..400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------*/


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  width: 100vw;
}


.wrapper{
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
	overflow: hidden;
	overflow-y: hidden;
    overflow-x:hidden;
  width: 100vw;
  gap:1em;
}

a{
  color: #f2f2f2;
  text-decoration: none;
}

a :hover{
  color: #f0f0f093;
}

header{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
  background-color: black;
  border-radius: 0.5em;
  padding: 0.5em;
}

#Logo{
width: 125px;
height: auto;
border-radius: 10px;

}

.icons{
display: flex;
flex-direction: row;
gap: 1em;
margin: 0em 0em 0em 0em;
font-size: 25px;
align-self: center;
margin-right: 2em;
}

section{

	display: flex;
	flex-direction: column;
	background-color: rgb(175, 159, 148);
	background-size: cover;
	background-position: center;
	border-radius: 1em;
	margin: 0.5em 0.5em 1em 0.5em;
}

form{
	display: flex;
	flex-direction: column;
}

@media only screen and (max-width: 600px){
#Logo{
  width: 75px;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.521);
}
.icons{
  margin-right: 1em;
}
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
.container a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}




#footerSection{
	display: flex;
	flex-direction: column;
	background-color: rgba(36, 54, 81, 0.918);
	padding: 2em;
}

.upperfooter{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: #f2f2f2;
	border-bottom: #f2f2f2 solid 3px;
	padding-bottom: 1em;
}

.contacts{
	display: flex;
	flex-direction: column;
	font-size: 20px;
	gap: 3em;
}

.contacts h2{
	font-size: 15px;
}

.ficons{
	display: flex;
	font-size: 25px;
	gap: 3em;
	margin-top: 1em;
}

form{
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 400px;
	gap: 1em;
	font-size: 20px;
}

input{
	font-size: 20px;
}

::placeholder{
	font-size: 15px;
}

.copyright{
	display: flex;
	justify-content: center;
	color: #f2f2f2;
	margin-top: 3em;
	font-size: 20px;
}

@media only screen and (max-width: 600px){
	#footerSection{
		padding: 25px;
	}
	
	.upperfooter{
		gap: 20px;
		padding-bottom: 10px;
	}
	
	.contacts{
		display: flex;
		flex-direction: column;
		gap: 15px;
		font-size: 15px;
	}
	
	.ficons{
		display: flex;
		gap: 15px;
		margin-top: 15px;
	}
	
	form{
		width: 200px;
		height: 300px;
		gap: 10px;
		font-size: 20px;
	}
	
	.copyright{
		margin-top: 20px;
		font-size: 15px;
	}
  }